{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Embassy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="{% static 'ambassador/script.js' %}"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">


</head>
<body>
<div class="container">

        <div class="container">

      <div class="starter-template">
        <h1><span style="color: darkviolet">{{ referrer }}</span> is awesome!</h1>
        <p class="lead">Come join Tim's World Wide Web. - Embassy Inc.</p>
      </div>

    </div><!-- /.container -->

</div>


</body>
</html>